.mapfrench_container {
  height: 100%;
}
.mapfrench_container .mapfrench_wrapper {
  display: flex;
  flex-direction: column;
}
.mapfrench_container .mapfrench_wrapper .map_title {
  text-align: center;
}
.mapfrench_container .mapfrench_wrapper .map_content {
  height: 100%;
  max-height: 550px;
}

.mapfrench_container .mapfrench_wrapper .map_content g path {
  fill: #7f8076;
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.mapfrench_container .mapfrench_wrapper .map_content g path.selected {
  fill: red;
}
.mapfrench_container .mapfrench_wrapper .map_content g:hover path {
  fill: blue;

}
polygon{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 64% 100%, 50% 75%, 0% 75%);

}
.mapfrench_container .mapfrench_wrapper .map_content .popup{
  outline: solid 1px rgb(182, 182, 182);

  fill: #0000ff;
}
.mapfrench_container .mapfrench_wrapper .map_content .popup text{

  fill: #0000ff;
}

.mapfrench_container .mapfrench_wrapper .map_content g path:hover {
  fill: red;
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
}

.mapfrench_container .mapfrench_wrapper .map_content g  .choix {
  fill: red;
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
}