

    <div class="body">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img  src="assets/cpnimages/connexion/1.png" alt="avatar" class="round">

                                <div class="mt-3">
                                    <h4>{{ profile?.data?.first_name }}</h4>
                                    <p class="text-secondary mb-1">{{ profile?.data?.email }}</p>
                                    <p class="text-muted font-size-sm">{{ profile?.adress?.address}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <line x1="2" y1="12" x2="22" y2="12"></line>
                                        <path
                                            d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                                    </svg>
                                    Website
                                </h6>
                                <span class="text-secondary"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                              <a href={{profile?.usersoc?.twitter}}>  <h6 class="mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-twitter mr-2 icon-inline text-info">
                                        <path
                                            d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                                    </svg>
                                    Twitter
                                </h6>
                                <span class="text-secondary"></span>
                                </a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <a href={{profile?.usersoc?.instagram}}> 
                                <h6 class="mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-instagram mr-2 icon-inline text-danger">
                                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                    </svg>
                                    Instagram
                                </h6>
                                <span class="text-secondary"></span>
                            </a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <a  href={{profile?.usersoc?.facebook}}> 
                                <h6 class="mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="feather feather-facebook mr-2 icon-inline text-primary">
                                        <path
                                            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                    </svg>
                                    Facebook
                                </h6>
                                <span class="text-secondary"></span>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nom & Prénom</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ profile?.data?.first_name }} {{profile?.data?.last_name }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                   {{ profile?.data?.email }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  {{profile?.usersoc?.teleph}}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Adresse</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ profile?.adress?.address}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button"   class="btn btn-danger" data-toggle="modal" data-target="#primary">Modifier</button>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>




    

<!--Modal PopUp with Add Event Form-->
  <!-- Modal -->
  <div class="modal fade text-left" id="primary" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel160" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title align-center">modifier utilisateur</h4>
            </div>

            <div class="modal-body">

                <form  (ngSubmit)="onSubmit()">
         
                <div class="row mb-3 g-4 listinput" style="flex: 2;">
                    <div class="col-md-12">
                      <input type="text" class="form-control"   placeholder="Nom d'utilisateur">
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control"  placeholder="prenom d'utilisateur">
                      </div>
                    <div class="col-md-12">
                      <input type="email" class="form-control"  id="email" placeholder="Email"> 
                     </div>
                    <div class="col-md-12">
                      <input type="text" class="form-control" id="twitter" placeholder="twitter"> 
                     </div>
                     <div class="col-md-12">
                        <input type="text" class="form-control" id="instagram" placeholder="instagram"> 
                       </div>
                       <div class="col-md-12">
                        <input type="text" class="form-control" id="facebook" placeholder="facebook"> 
                       </div>
                       <div class="col-md-12">
                        <input type="text" class="form-control" id="teleph" placeholder="teleph"> 
                       </div>
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-12">
                        <button style="border: none;background: red;border-radius: 25px;color: white" type="submit" class="btn btn-danger">Inscription</button>
                      </div>
                      </div>
                  </div>
            
                    </div>
       
                  </form>

            </div>
        </div>
    </div>
</div>

